a {
	text-decoration: none;
	color: blue;
}
h1 {
	font-size: 130%;
}

div.l {
	clear: left;
	width: 100%;
}

div.l:hover {
	background: #ffa;
}

div {
	float: left;
}

div.d {
	width: 7em;
	font-weight: bold;
	font-size: 120%;
}

div.t {
	margin-right: 1em;
}

div.r {
	width: 17em;
	font-weight: bold;
	font-size: 110%;
}

div.h {
	width: 4em;
}

div.h a {
	font-family: monospace;
	color: #88f;
}

div.m a {
	font-weight: bold;
	color: #000;
}

